<!DOCTYPE html>
<html lang="en">
<head>
      {% load static %}
<link rel="stylesheet" href="{% static 'menu.css' %}">
     <body bgcolor="#a9a9a9">
<nav class="nav">
	<ul>
		<li><a href="#">Nasze Pokoje</a>
    <li><a href="#"></a>
		<li class="drop"><a href="#">Logowanie</a>
			<ul class="dropdown">
				<li><a href="logowanie/">zaloguj</a></li>
				<li><a href="rejestracja/">zarejestruj</a></li>
				<li><a href="hotel/">Oferta 03</a></li>
			</ul>
		</li>
		<li><a href="#">Kontakt</a>
        <li><a href="#">Aktualności</a>
    </ul>
</nav>
</head>
</body>
</html>
